<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="resources.Listeners"></listener>
        <listener class-name="resources.ExtentReporterNG"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/siram/Desktop/cci/23.12 qa/eribankAutomation">
        <classes>
            <class name="Test.Test1">
                <methods>
                    <include name="onlinePayment"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>